@model NBSP.Models.Volunteer

@{
    ViewData["Title"] = "CounselPortal";
    Layout = "~/Views/Shared/_LayoutMemberMenu.cshtml";
}
<head>
    <style>
        .info-box {
            display: flex;
            flex-direction: column;
            align-content: center;
            align-items: center;
        }

        .top-box {
            text-align: center;
            border: solid 1px black;
            width: 100%;
        }
    </style>
</head>
<body>
    <div class="top-box">
        <img width="20%;" height="20%;" src="~/images/silverribbon.png" alt="Educational Portal Image" />
        <p>
            A platform to provide counselling aids for your family
        </p>
    </div>
    <div class="info-box">
        <br /><h1>
            Summary
        </h1>
        <p>
            This page allows you to get more information on counselling and helps to raise awareness of mental health issues as well as removing the social stigma and prejudice against people with
            mental health issues.
        </p>
        <h2>
            What do they do?
        </h2>
        <p>
            Silver ribbon helps to combat against the social stigma against people with mental health disorders, as well as facilitate integration of people with these issues within the society
            through innovative means of promoting mental health literacy.
        </p>
        <h2>
            Why should I go to them?
        </h2>
        <p>
            Silver ribbon has earned many achievements throughout the years, such as the President's Volunteerism & Philanthropy Awards in 2022, The Straits Times Singaporean of The Year in 2021,
            Charity Transparency Award in 2019, and many more. These are awards that they have won by getting the recognition of many people as they our outstanding in their job of helping to combat
            against the social stigma against people with mental health disorders. In addition, they also organise mental health events regularly and commemorate World Mental Health Day annually,
            working together with local & overseas mental health organisations, consumers, caregivers, corporates, governments agencies, grassroots organisations, religious groups, school
            institutions, social service agencies, and media to reach out to the community of all age groups through innovative means.
        </p>
        <br />
        <p><a href="https://www.silverribbonsingapore.com/index.html" target="_blank">Click here </a>for more information about Silver Ribbon </p>
    </div>
</body>
<div>
    <a asp-action="Index">Back to List</a>
</div>