@model NBSP.Models.Volunteer

@{
    ViewData["Title"] = "EducationPortal";
    Layout = "~/Views/Shared/_LayoutVolunteerMenu.cshtml";
}
<head>
    <style>
        .info-box {
            display: flex;
            flex-direction: column;
            align-content: center;
            align-items: center;
        }

        .top-box {
            text-align: center;
            border: solid 1px black;
            width: 100%;
        }
    </style>
</head>
<body>
    <div class="top-box">
        <img width="20%;" height="20%;" src="~/images/govsg.png" alt="Educational Portal Image" />
        <p>
            A platform to provide educational aids for your family
        </p>
    </div>
    <div class="info-box">
        <br /><h1>
            Summary
        </h1>
        <p>
            This page allows you to get more information on educational schemes that will help relief the burden of Single Parents.
        </p>
        <h2>
            Preschool
        </h2>
        <p>
            Since January 2020, the gross monthly household income to be eligble for preschool subsidies was raised to $12,000, making it easier for families who need it to enjoy the subsidies.
            By applying for the subsidy, families can get up to $1,310 per month for infant care subsidies. Low-income families are also eligible for childcare subsidies, where they only pay $3
            a month per child for full-day childcare at preschools. Futhermore, low-income families are also eligible for kindergarten subsides, where they only pay $1 a month per child.
        </p><br />
        <h2>
            Primary and Secondary
        </h2>
        <p>
            For primary and secondary school students, there are Student Care Centres (SCSs) who provide care and support for them after school hours. Students from low-income families can also
            receive monthly subsidies for student care fees and a one-off grant to offset enrolment costs. In addition, to allow students to enjoy activities and programs in school, they will
            receive yearly contributions to their Edusave accounts yearly.
        </p><br />
        <h2>
            Tertiary
        </h2>
        <p>
            For Singapore citizens studying in tertiary education, there are also substantial subsidies to help financially. Students from low to middle-income households are given support in the
            form of government bursaries. In 2020, the enhanced Government bursaries cover up to 75% of subsidised general degree tuition fees for full-time undergraduates, and up to 95% of subsidised
            tuition fees for full-time polytechnic diploma students.
        </p><br />
        <p>
            <a href="https://www.gov.sg/article/financial-support-for-singaporean-students-at-every-stage-of-education" target="_blank">Click here </a> for more information
        </p>
    </div>
</body>
<div>
    <a asp-action="Index">Back to List</a>
</div>