@{
    Layout = "~/Views/Shared/_LayoutLoggedIn.cshtml";
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <div style="text-align:center; border: solid 1px black; width="100vw;">
        <img width="20%;" height="20%;" src="~/images/twodudes.png" width="350" alt="Icon Helping Hand" />
        <p>
            To provide a platform for volunteers to help Single Parents to ease their problems
        </p>
    </div>
    <a style="color:black; text-decoration:none;" href="~/Home/LogIn"><div class="design-box" style="background-color: pink; width: 400px; height: 200px;"><span>Education<br />Information on Education Schemes</span></div></a>
    <a style="color:black; text-decoration:none;" href="~/Home/LogIn"><div class="design-box" style="background-color: lightgoldenrodyellow; width: 400px; height: 200px;"><span>Counselling<br />Need help? Talk to someone</span></div></a>
    <a style="color:black; text-decoration:none;" href="~/Home/LogIn"><div class="design-box" style="background-color: lightcoral; width: 400px; height: 200px;"><span>Employment<br />Skill Enhancement</span></div></a>
    <a style="color:black; text-decoration:none;" href="~/Home/LogIn"><div class="design-box" style="background-color: lightblue; width: 400px; height: 200px;"><span>Subsidies<br />Money Hacks</span></div></astyle="color:black;></a>
</body>
</html>