@{
    Layout = "~/Views/Shared/_LayoutVolunteerMenu.cshtml";
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <style>
        .info-box {
            display: flex;
            flex-direction: column;
            align-content: center;
            align-items: center;
        }

        .top-box {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            border: solid 1px black;
            width: 100%;
            height: 10vh;
        }

        p{
            margin: 0;
        }

        .myButton {
            margin: 10px;
            border-color: white;
            width: 30%;
            background-color: #658C9D;
        }

        .boldtxt{
            font-weight: bold;
        }
    </style>
</head>
<body>
    <div class="top-box">
        <p>
            Be a Volunteer today!
        </p>
    </div>
    <div class="info-box">
        <br />
        <p class="boldtxt">
            Join us today to be a volunteer!
        </p><br />
        <p>
            Have a passion to help others in need? This is the place for you! Select any day where you are available and skills you specialise in to give a helping hand to others in need.
        </p>
        <p>
            As John F. Kennedy once said, "Every person can make a difference, and every person should try."
        </p><br />
        <p class="boldtxt">
            Click Volunteer to sign up today!
        </p>
        <input class="myButton" type="button" name="name" value="Volunteer" onclick="location.href='@Url.Action("Form","Volunteer")'" />
    </div>
</body>
</html>