################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NBSP/.vs/NBSP/FileContentIndex/read.lock
/NBSP/.vs/NBSP/FileContentIndex/8f96efa5-8863-4eda-a798-25a5ff06acda.vsidx
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/TeamD-NBSP/v16/.suo
/.vs/PFD/v16/.suo
/.vs/i want to kill myself/v16/.suo
/.vs/Assignment 1/v17/.wsuo
/.vs/Assignment/v16/.suo
