################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NBSP/.vs/NBSP/FileContentIndex/read.lock
/NBSP/.vs/NBSP/FileContentIndex/8f96efa5-8863-4eda-a798-25a5ff06acda.vsidx
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/TeamD-NBSP/v16/.suo
/.vs/PFD/v16/.suo
/.vs/i want to kill myself/v16/.suo
/.vs/Assignment 1/v17/.wsuo
/.vs/Assignment/v16/.suo
/NBSP/.vs/NBSP/config/applicationhost.config
/NBSP/.vs/NBSP/DesignTimeBuild/.dtbcache.v2
/NBSP/.vs/NBSP/FileContentIndex/24f03d11-e572-41be-bd34-5b9ef1268c0e.vsidx
/NBSP/.vs/NBSP/FileContentIndex/669a9ac7-d441-456e-a7be-c29426338e6a.vsidx
/NBSP/.vs/NBSP/FileContentIndex/b458d96f-d94e-4829-a5bb-331587276e2f.vsidx
/NBSP/.vs/NBSP/FileContentIndex/43b516ea-d1b3-401a-9abb-631f4ddbe107.vsidx

/NBSP/.vs/NBSP/FileContentIndex/788e31f4-6a1d-40d2-82f2-88482ffe8701.vsidx
/NBSP/.vs/NBSP/FileContentIndex/963c9f8e-1df9-434b-bd83-840b3b744c27.vsidx
/NBSP/.vs/NBSP/FileContentIndex/a7981aa9-3167-4287-922a-5c2dda7e03d7.vsidx
