@model NBSP.Models.Member

@{
    ViewData["Title"] = "SubsidiesPortal";
    Layout = "~/Views/Shared/_LayoutAdminMenu.cshtml";
}
<head>
    <style>
        .info-box {
            display: flex;
            flex-direction: column;
            align-content: center;
            align-items: center;
        }

        .top-box {
            text-align: center;
            border: solid 1px black;
            width: 100%;
        }
    </style>
</head>
<body>
    <div class="top-box">
        <img width="20%;" height="20%;" src="~/images/msf.png" alt="Educational Portal Image" />
        <p>
            A platform to provide subsidies for your family
        </p>
    </div>
    <div class="info-box">
        <br /><h1>Summary</h1>
        <p>
            This page is a platform that helps give Single Parents information on subsidies to help relief their burden.
        </p><br />
        <h2>
            What subsidies are available?
        </h2>
        <p>
            In 2017, the Ministry of Social and Family Development extended the Government-Paid Maternity Leave to single unwed mothers to 16 weeks. Both unwed and wedded working parents are also
            entitled to 6 days of paid Childcare Leave per year for children aged 7 and below, or 2 days for children aged 7 to 12 years. This will help relief the burden on Single Mothers as the
            extended Maternity Leave will help them to not worry about not their financials while taking care of their newborn child. In addition, having more paid Childcare Leave a year makes it
            so that when a Single Parents misses a day of work to take care of their children, their salary will not be cut because of it.
        </p><br />
        <p>
            Furthermore, Single Parents can also look for Family Service Centres (FSCs) to address family-related and/or social-emotional needs, and work with other agencies if they require
            additional support services, such as employment assistance or childcare services. Single Parents can also approach Social Service Officers (SSOs) if they require support with their
            basic living expenses. If they meet the criteria, SSOs will then refer them to other Government agencies and community partners for their help.
        </p><br />
        <p>
            <a href="https://www.msf.gov.sg/media-room/Pages/Tax-Rebates-and-Baby-Bonuses-to-Single-Parents.aspx" target="_blank">Click here </a>for more information regarding subsidies for Single Parents
        </p>
    </div>
</body>
<div>
    <a asp-action="Index">Back to List</a>
</div>