<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <style>
        .info-box {
            display: flex;
            flex-direction: column;
            align-content: center;
            align-items: center;
        }

        .top-box {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            border: solid 1px black;
            width: 100%;
            height: 10vh;
        }

        p {
            margin: 0;
        }

        .myButton {
            margin: 10px;
            border-color: white;
            width: 30%;
            background-color: #658C9D;
        }

        .titletxt{
            font-size: 20px;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <div class="top-box">
        <p>
            About NBSP
        </p>
    </div>
    <div class="info-box">
        <br /><p class="titletxt">Welcome to NBSP</p><br />
        <p>We are No Break Single Parents (NBSP). This is an Information & Job Portal website that directs Single Parents to job opportunities in the industry, skill enchancement, and provide them with a way to gain extra income.
             Our goal is to ensure that Single Parents have a solid future for themselves and for their children by helping them get additional help or guidance</p><br />
        <p>With the help from Volunteers and the Community, we aim to help Single Parents relief their burden by having information pages to help them with specific needs of help, a job portal that we offer from our partners to secure a career, and a volunteer list for Single Parents to contact to get an extra pair of hands.</p><br />
    </div>
</body>
</html>