<div class="form signUpForm">
    <form>
        <h3>Member</h3>
        <a href="~/Home/SignUpMember">Register</a>
    </form>

    <form>
        <h3>Volunteer</h3>
        <a href="~/Home/SignUpVolunteer">Register</a>
    </form>
</div>