@model NBSP.Models.Member

@{
    ViewData["Title"] = "Create";
}


<div class="form signUpForm">
    <form asp-controller="Home" asp-action="SignUpMember" method="post">
        <h3>Sign Up</h3>
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" required />

        <label asp-for="EmailAddr"></label>
        <input asp-for="EmailAddr" class="form-control" required />

        <label asp-for="PhoneNo"></label>
        <input asp-for="PhoneNo" class="form-control" required />

        <label asp-for="Pwd"></label>
        <input asp-for="Pwd" class="form-control" required />


        <label asp-for="PasswordConfirm"></label>
        <input asp-for="PasswordConfirm" class="form-control" required />
        <span asp-validation-for="PasswordConfirm"
              class="text-danger"></span>
        <br />
        <input type="submit" hidden="">
        <input type="submit" value="Register">
    </form>
</div>
