@model NBSP.Models.Volunteer

@{
    ViewData["Title"] = "Create";
}
    
<style>
    .myButton {
        margin: 10px;
        border-color: white;
        width: 30%;
    }
</style>

<div class="form signUpForm">
    <form asp-controller="Home" asp-action="SignUpVolunteer" method="post">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" required />

        <label asp-for="EmailAddr"></label>
        <input asp-for="EmailAddr" class="form-control" required />

        <label asp-for="ContactNo"></label>
        <input asp-for="ContactNo" class="form-control" required />

        <label asp-for="Pwd"></label>
        <input type="password" asp-for="Pwd" class="form-control" required />

        <label asp-for="PasswordConfirm"></label>
        <input type="password" asp-for="PasswordConfirm" class="form-control" required />
        <span asp-validation-for="PasswordConfirm"
              class="text-danger"></span>
        <br />
        <input type="submit" hidden="">
        <input class="myButton" type="submit" value="Sign Up">
    </form>
</div>
