
@{
    ViewData["Title"] = "ThankYou";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<span>
    <img width="50%;" height="50%;" src="~/images/thank-you-gif.gif" alt="Thank You Message" />
</span>

